* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Urbanist", sans-serif;
    /* font-family: "Inter", sans-serif; */
    color: #FFF;
    background-color: #141414;
    font-size: 18px;
    font-weight: 400;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__top {
    height: 63px;
    background-image: url(/img/abstract\ Design.png);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #262626;
}
.header__top-title {
    margin-right: 10px;
}
.header__top-link {
    color: #FFF;
}
.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
}
.header__nav {
    background-color: #1A1A1A;
    height: 99px;
    padding-top: 22px;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    column-gap: 30px;
}
.menu__item {
    padding: 14px 24px;
     transition: background-color 0.3s ease;
}
.menu__item:hover {
    border: 1px solid #262626;
    border-radius: 10px;
    padding: 14px 24px;
    background-color: #141414;
}

.menu__link {
    text-decoration: none;
    color: #FFF;
}
.btn {
    padding: 16px 24px;
    border: 1px solid #262626;
    border-radius: 10px;
    background-color: #141414;
    color: #FFF;
}
.header__info {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
}

.header__info-text {
    margin-top: 144px;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.2;
}
.header__about {
    display: flex;
    flex-direction: column;
    max-width: 758px;
}
.header__info-subtext {
    margin-top: 24px;
    color: #999999;
    font-size: 18px;
    line-height: 1.5;

}
.header__buttons {
    display: flex;
    align-items: flex-start;
    align-items: center;
    margin-top: 60px;
    gap: 20px;
}
.header__buttons .btn {
    max-width: 139px;
    height: 63px;
}
.btn__purple {
    background-color: #703BF7;
    padding: 18px 24px;
    border: none;
    border-radius: 10px;
    color: #FFF;
    max-width: 191px;
    height: 63px;
}
.header__statistic {
    display: flex;
    align-items: center;
    margin-top: 60px;
    gap: 20px;
}
.header__box {
    max-width: 240px;
    height: 121px;
    border-radius: 12px;
    border: 1px solid #262626;
    background-color: #1A1A1A;
    padding: 16px 24px;
}
.header__number {
    font-weight: 700;
    font-size: 40px;

}
.header__subtext {
    color: #999999;
    margin-top: 2px;
    font-size: 18px;
    line-height: 1.5;
}
.header__img {
    position: relative;
    left: 55px;
}
.header__abs-logo {
    position: absolute;
    top: 144px;
    right: 770px;
}